<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Effeckt.css</title>

    <meta name="description" content="UI-Less & Performant Transitions & Animations">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{assets}}/css/demo/demo.autoprefixed.css">

    <!-- Individual module CSS files here -->
    <!-- Should we combine or not combine? -->
    <link rel="stylesheet" href="{{assets}}/css/modules/modals.autoprefixed.css">
    <link rel="stylesheet" href="{{assets}}/css/modules/buttons.autoprefixed.css">
    <link rel="stylesheet" href="{{assets}}/css/modules/list-items.autoprefixed.css">
    <link rel="stylesheet" href="{{assets}}/css/modules/off-screen-nav.autoprefixed.css">
</head>

<body>

  {{> off-screen-nav}}

  {{> modal}}

  <div class="page-wrap no-transitions" id="page-wrap">

    <h1>
      <span>E</span>
      <span>f</span>
      <span>f</span>
      <span>e</span>
      <span>c</span>
      <span>k</span>
      <span>t</span>
      <span>.</span>
      <span>c</span>
      <span>s</span>
      <span>s</span>
    </h1>
    <subhead>Performant CSS transitions & animations</subhead>

    {{>body}}

  </div><!-- div.page-wrap -->



  <!-- libs -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{assets}}/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
  <!-- for modals-2 -->

  <!-- demo -->
  <script src="{{assets}}/js/demo/demo.js"></script>

  <!-- Individual module JS files here -->
  <!-- Should we combine or not combine? -->
  <!-- Should we provide minified versions? -->
  <script src="{{assets}}/js/modules/modals.js"></script>
  <script src="{{assets}}/js/modules/buttons.js"></script>
  <script src="{{assets}}/js/modules/list-items.js"></script>
  <script src="{{assets}}/js/modules/off-screen-nav.js"></script>
</body>

</html>
